@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  
	--font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
	--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
	--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

	--color-main: hsl(252, 75%, 60%);
	--color-main-900: hsl(248, 77%, 24%);
	--color-main-800: hsl(248, 69%, 31%);
	--color-main-700: hsl(250, 63%, 40%);
	--color-main-600: hsl(251, 56%, 50%);
	--color-main-500: hsl(252, 75%, 60%);
	--color-main-400: hsl(253, 80%, 71%);
	--color-main-300: hsl(255, 86%, 77%);
	--color-main-200: hsl(256, 92%, 86%);
	--color-main-100: hsl(18, 87%, 94%);

	--color-dark: hsl(0, 0%, 13%);
	--color-dark-400: hsl(210, 2%, 18%);
	--color-dark-300: hsl(180, 1%, 26%);
	--color-dark-200: hsl(180, 1%, 33%);
	--color-dark-100: hsl(150, 1%, 41%);

	--color-grey-dark: hsl(0, 0%, 20%);
	--color-grey-dark-400: hsl(0, 0%, 27%);
	--color-grey-dark-300: hsl(0, 0%, 34%);
	--color-grey-dark-200: hsl(0, 0%, 41%);
	--color-grey-dark-100: hsl(0, 0%, 47%);

	--color-grey: hsl(0, 0%, 60%);
	--color-grey-400: hsl(0, 0%, 65%);
	--color-grey-300: hsl(0, 0%, 71%);
	--color-grey-200: hsl(0, 0%, 76%);
	--color-grey-100: hsl(0, 0%, 82%);
	
	--color-light-400: hsl(0, 0%, 95%);
	--color-light-300: hsl(0, 0%, 95%); 
	--color-light-200: hsl(0, 0%, 95%);
	--color-light-100: hsl(0, 0%, 96%);
	--color-light: hsl(0, 0%, 100%);
}

*{
    font-family: "Poppins", Sans-serif;
}

.app {
  background-color: transparent;
  min-height: 100vh;
  font-size: var(--font-size-md);
  color: var(--color-light);
}

/*Nav toggle*/

.navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: -1000px;
    transition: .6s ease-in-out;

    top: 100%;
    left: 0;
    width: 356px;
    opacity: 1;
	width: 100%;
    font-size: clamp(1rem, 5vw, 1.5rem);
    background: #fff;
    backdrop-filter: blur(5px);
    z-index: 5;

	opacity: 0;
	pointer-events: none;
}

#mobile-menu {
    display: none;
}


@media (max-width:767px){
    .navbar__menu {
		display: flex;
        /* transform: translateY(-200%); */
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
		height: 0;
		overflow: hidden;
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1; 
		height: 400px;
		overflow: hidden;
		transition: height 300ms ease-in-out;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #5a5a68;
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu {
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    
    }
    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    
    }
}

.section-container {
    height: calc(100vh - 80px);
    width: 100%;
}



